{{#packageName}}
package {{packageName}};
{{/packageName}}

import io.grpc.stub.StreamObserver;

@javax.annotation.Generated(
value = "by OSGi Remote Services generator",
comments = "Source: {{protoName}}")
{{#javaDoc}}
{{{javaDoc}}}
{{/javaDoc}}
public abstract class {{className}} extends {{serviceName}}Grpc.{{serviceName}}ImplBase implements {{originalClassName}} {

    {{#unaryRequestMethods}}
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    @Override
    public abstract {{outputType}} {{methodNameCamelCase}}({{inputType}} request);

	/** 
	 * Override of {{serviceName}}Grpc.{{serviceName}}ImplBase.{{methodNameCabelCase}}/2
	 */
    @Override
    public void {{methodNameCamelCase}}({{inputType}} request, StreamObserver<{{outputType}}> responseObserver) {
        responseObserver.onNext({{methodNameCamelCase}}(request));
        responseObserver.onCompleted();
    }
    {{/unaryRequestMethods}}
    
}
