{{#packageName}}
package {{packageName}};
{{/packageName}}

{{#importClassNames}}
import {{importClass}};
{{/importClassNames}}

@javax.annotation.Generated(
value = "by grpc-osgi-generator - A protoc plugin for ECF's grpc remote services distribution provider at https://github.com/ECF/grpc-RemoteServiceSProvider ",
comments = "Source: {{protoName}}.  ")
{{#javaDoc}}
{{{javaDoc}}}
{{/javaDoc}}
public interface {{className}} {

    {{#unaryRequestMethods}}
    
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    default {{outputType}}<{{outputGenericType}}> {{methodNameCamelCase}}({{inputType}}<{{inputGenericType}}> requests)  {
        {{defaultBody}};
    }
    {{/unaryRequestMethods}}
    {{#serverStreamingRequestMethods}}
    
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    default {{outputType}}<{{outputGenericType}}> {{methodNameCamelCase}}({{inputType}}<{{inputGenericType}}> requests)  {
        {{defaultBody}};
    }
    {{/serverStreamingRequestMethods}}
    {{#clientStreamingRequestMethods}}
    
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    default {{outputType}}<{{outputGenericType}}> {{methodNameCamelCase}}({{inputType}}<{{inputGenericType}}> requests)  {
        {{defaultBody}};
    }
    {{/clientStreamingRequestMethods}}
    {{#bidiStreamingRequestMethods}}
    
    {{#javaDoc}}
    {{{javaDoc}}}
    {{/javaDoc}}
    default {{outputType}}<{{outputGenericType}}> {{methodNameCamelCase}}({{inputType}}<{{inputGenericType}}> requests)  {
        {{defaultBody}};
    }
    {{/bidiStreamingRequestMethods}}
}
